node_modules
artifacts
cache
gasreport-*
*-report.html
*-details.md
gas-report-*.txt
generated
.env
*.DS_Store
build
forge-cache
out
deployments/**/.pendingSafeTransactions
deployments/localhost
broadcast/*
/bin/*
.DS_Store